body{
    background-color:rgb(47, 255, 92)


    
    


}
.jumbotron{
    background-color:rgb(0, 183, 255)
    
}
.row{
    color:black
}
.card-body{
    background-color:rgb(47, 255, 92)

}
.card-header{
    background-color:rgb(47, 255, 92)

}